.process {
    margin-bottom: 80px;
    width: 100%;
}

.process__content-wrap {
    margin: 0 auto 0 0;
    max-width: 940px;
    width: 100%;
}

.process__title {
    margin-bottom: 51px;
    color: #000000;
    font-weight: 600;
    font-size: 36px;
    font-family: futura-pt;
    line-height: 1.28;
}

.process__title-decor {
    background: linear-gradient(to top, #fefca9 0%, #fefca9 100%);
    background-position: left bottom;
    background-size: 98% 50%;
    background-repeat: no-repeat;
    font-family: inherit;
}

.process__subtitle {
    margin-bottom: 47px;
    color: #000000;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.44;
}

.process__items-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    counter-reset: processItem;
}

.process__item {
    padding: 10px 10px 20px;
    width: calc((100% - 20px*3)/4);
    border: solid 1px #f0f0f0;
}

.process__item-num {
    color: #24212f;
    font-size: 20px;
    font-family: futura-pt;
    font-weight: 600;
    &::before {
        content: counter(processItem) ' ';
        counter-increment: processItem;
    }
}

.process__item-image {
    width: 100%;
    height: 140px;
    background-position: left center;
    background-repeat: no-repeat;
    &--1 {
        background-image: url(../images/process-1.png);
    }
    &--2 {
        background-image: url(../images/process-2.png);
    }
    &--3 {
        background-image: url(../images/process-3.png);
    }
    &--4 {
        background-image: url(../images/process-4.png);
    }
}

.process__item-title {
    margin-bottom: 31px;
    color: #24212f;
    font-size: 22px;
    font-family: futura-pt;
    line-height: 1.09;
    font-weight: 600;
}

.process__item-text {
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.31;
}