<section class="process">
    <div class="process__content-wrap">

        <header class="process__title">
            <span class="process__title-decor">Как проходит процесс</span>
            <br><span class="process__title-decor">разработки</span>
        </header>
        <p class="process__subtitle">
            Мы предлагаем отлаженный процесс разработки landing page.
            <br>Он проверен временем, понятен, и, самое главное - абсолютно прозрачен для клиента.
            <br>Мы не прячем процессы и всегда даем возможность клиенту наблюдать за рабочим процессом real-time (пригласим к нам в Basecamp).
        </p>

        <div class="process__items-wrap">

            <process-item
                image = "1"
                title = "Прототипируем и&nbsp;пишем тексты"
                text  = "Мы тщательно изучаем ваш продукт и погружаемся в тематику. Подчеркиваем ваше УТП авторскими текстами и отрабатываем концепцию продаж на интерактивных прототипах."
            ></process-item>

            <process-item
                image = "2"
                title = "Готовим дизайн-концепцию"
                text  = "Мы знаем как заставить дизайн работать на благо вашего продукта и уделяем этому достаточно времени. Мы не сторонники вычурного и кричащего дизайна, и убеждены, что его должно ровно столько чтобы подчеркнуть товар/услугу.<br>Мы за разумный минимализм."
            ></process-item>

            <process-item
                image = "3"
                title = "Верстаем и подклю-чаем админ. панель"
                text  = "Мы понимаем насколько важен мобильный трафик, поэтому абсолютно все наши проекты адаптивны. Для каждого выпускаемого нами landing page, мы предоставляем простую и удобную административную панель."
            ></process-item>

            <process-item
                image = "4"
                title = "Настраиваем и&nbsp;запускаем РК"
                text  = "Мы подготовим качественную рекламную кампанию в Yandex.Direct и/или Google Adwords; таким образом,landing page готов принимать целевой трафик сразу после передачи клиенту."
            ></process-item>

        </div>

    </div>
</section>