.specials {
    margin-bottom: 80px;
    width: 100%;
}

.specials__content-wrap {
    margin: 0 auto 0 0;
    max-width: 940px;
    width: 100%;
}

.specials__header {
    margin-bottom: 20px;
    width: 100%;
}

.specials__title {
    font-weight: 500;
    font-size: 48px;
    font-family: futura-pt;
}

.specials__subtitle {
    padding: 1em 0;
    color: #000000;
    font-size: 18px;
}

.specials__items-wrap {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 0 .5px #eeeeee;
}

.specials__item {
    padding: 23px 20px;
    width: 50%;
    box-shadow: inset 0 0 0 .5px #eeeeee;
}

.specials__item-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 80px;
    min-height: 64px;
    background-position: left center;
    background-repeat: no-repeat;
    color: #000000;
    font-weight: 600;
    font-size: 30px;
    font-family: futura-pt;
    &--1 {
        background-image: url(../images/specials-1.png);
    }
    &--2 {
        background-image: url(../images/specials-2.png);
    }
    &--3 {
        background-image: url(../images/specials-3.png);
    }
    &--4 {
        background-image: url(../images/specials-4.png);
    }
}

.specials__item-text {
    font-weight: 300;
}