<section class="specials">
    <div class="specials__content-wrap">

        <header class="specials__header">
            <p class="specials__title">Особенности нашей работы:</p>
            <p class="specials__subtitle">Почему вам стоит остановить свой выбор именно на нас</p>
        </header>

        <div class="specials__items-wrap">

            <figure class="specials__item">
                <p class="specials__item-title specials__item-title--1">Штатные специалисты</p>
                <div class="specials__item-text typography">
                    <p>Наше агентство полностью укомплектовано штатными специалистами. Работа в одном общем коллективе позволяет выпускать проекты высокого качества и соблюдать сроки на разработку проектов.</p>
                </div>
            </figure>

            <figure class="specials__item">
                <p class="specials__item-title specials__item-title--2">Экспертиза</p>
                <div class="specials__item-text typography">
                    <p>Все заявляют о том, что у них огромный опыт в разработке landing page. Мы начали заниматься этим в 2010 году, когда это еще не было мейнстримом в России. Ключевые сотрудники, отвечающие за качество и структуру LP, работают вместе с 2009 года. Весь опыт по данной тематике будет применен на вашем проекте.</p>
                </div>
            </figure>

            <figure class="specials__item">
                <p class="specials__item-title specials__item-title--3">Гарантии/Обещания</p>
                <div class="specials__item-text typography">
                    <p>Мы не даем никаких гарантий и обещаний по конверсии, продажам и.т.д., но всегда на этапе коммерческого предложения формируем для клиента информацию о том, какую минимальную эффективность может иметь проект. Это включает в себя следующие данные:
                        <br>- конверсия в обращение/заявку;
                        <br>- прогноз по привлечению трафика через Я.Директ;
                        <br>- прогноз кол-ва обращений/заявок.
                    </p>
                    <p>Как правило, этих цифр достаточно чтобы оценить целесообразность разработки landing page.</p>
                </div>
            </figure>

            <figure class="specials__item">
                <p class="specials__item-title specials__item-title--4">Безопасность</p>
                <div class="specials__item-text typography">
                    <p>Вы можете быть спокойны за свои данные и коммерческую тайну, которую, скорее всего, мы узнаем в процессе интервью и формирования задач. Также, мы придерживаемся правила: не берем клиентов из конкурирующих компаний.</p>
                </div>
            </figure>

        </div>

    </div>
</section>