<section class="projects">
    <div class="projects__content-wrap">

        <header class="projects__title">Оцените качество нашей верстки по проектам наших клиентов</header>

        <section class="projects__gallery">
            <nav class="projects__gallery-nav">
                <button class="projects__gallery-nav-item projects__gallery-nav-item--active" data-filter="*">Все проекты</button>
                <button class="projects__gallery-nav-item" data-filter="[data-shop]">интернет-магазины</button>
                <button class="projects__gallery-nav-item" data-filter="[data-landing]">лендинги</button>
                <button class="projects__gallery-nav-item" data-filter="[data-special]">спец. проекты</button>
            </nav>
            <div class="projects__gallery-items-wrap">

                <projects-gallery-item
                    link     = "#"
                    image    = "/assets/images/quality-1.jpg"
                    suptitle = "Интернет-магазин"
                    title    = "Gold Dragon Profit"
                    data-special
                ></projects-gallery-item>

                <projects-gallery-item
                    link     = "#"
                    image    = "/assets/images/quality-2.jpg"
                    suptitle = "Landing page"
                    title    = "Stropuva"
                    data-landing
                ></projects-gallery-item>

                <projects-gallery-item
                    link     = "#"
                    image    = "/assets/images/quality-3.jpg"
                    suptitle = "Интернет-магазин"
                    title    = "Viessmann"
                    data-shop
                ></projects-gallery-item>

                <projects-gallery-item
                    link     = "#"
                    image    = "/assets/images/quality-4.jpg"
                    suptitle = "Landing page"
                    title    = "Москлимат: Кондиционирование"
                    data-landing
                ></projects-gallery-item>

                <projects-gallery-item
                    link     = "#"
                    image    = "/assets/images/quality-1.jpg"
                    suptitle = "Интернет-магазин"
                    title    = "Gold Dragon Profit"
                    data-special
                ></projects-gallery-item>

                <projects-gallery-item
                    link     = "#"
                    image    = "/assets/images/quality-2.jpg"
                    suptitle = "Landing page"
                    title    = "Stropuva"
                    data-landing
                ></projects-gallery-item>

                <projects-gallery-item
                    link     = "#"
                    image    = "/assets/images/quality-3.jpg"
                    suptitle = "Интернет-магазин"
                    title    = "Viessmann"
                    data-shop
                ></projects-gallery-item>

                <projects-gallery-item
                    link     = "#"
                    image    = "/assets/images/quality-4.jpg"
                    suptitle = "Landing page"
                    title    = "Москлимат: Кондиционирование"
                    data-landing
                ></projects-gallery-item>

                <projects-gallery-item
                    link     = "#"
                    image    = "/assets/images/quality-1.jpg"
                    suptitle = "Интернет-магазин"
                    title    = "Gold Dragon Profit"
                    data-special
                ></projects-gallery-item>

                <projects-gallery-item
                    link     = "#"
                    image    = "/assets/images/quality-2.jpg"
                    suptitle = "Landing page"
                    title    = "Stropuva"
                    data-landing
                ></projects-gallery-item>

                <projects-gallery-item
                    link     = "#"
                    image    = "/assets/images/quality-3.jpg"
                    suptitle = "Интернет-магазин"
                    title    = "Viessmann"
                    data-shop
                ></projects-gallery-item>

                <projects-gallery-item
                    link     = "#"
                    image    = "/assets/images/quality-4.jpg"
                    suptitle = "Landing page"
                    title    = "Москлимат: Кондиционирование"
                    data-landing
                ></projects-gallery-item>

            </div>
        </section>

    </div>
</section>