<section class="portfolio-2" id="portfolio" ref="portfolio">

    <div class="portfolio-2__content-wrap">

        <div class="portfolio-2__items-wrap portfolio-2__items-wrap--visible">

            <slot name="portfolio-2__items-wrap--visible"></slot>

            <transition
                enter-active-class="animated fadeIn"
                leave-active-class="animated fadeOut"
            >

                <div class="portfolio-2__items-wrap portfolio-2__items-wrap--hidden" v-if="visibility">

                    <slot name="portfolio-2__items-wrap--hidden"></slot>

                </div>

            </transition>

        </div>

        <button
            class      = "portfolio-2__showmore"
            type       = "button"
            v-if       = "!visibility"
            v-on:click = "visibility = !visibility"
        >показать еще</button>

    </div>

</section>