<figure class="portfolio-2__item">
    <div class="portfolio-2__item-image-wrap">
        <img
            :src  = "'/assets/images/' + image"
            alt   = ""
            class = "portfolio-2__item-image"
            data-fix--ie--object--fit
        >
    </div>
    <figcaption class="portfolio-2__item-caption">
        <p class="portfolio-2__item-title">[[ title ]]</p>
        <p class="portfolio-2__item-text">[[ text ]]</p>
        <div class="portfolio-2__item-costs-wrap">

            <slot></slot>

        </div>
        <a
            :href  = "readmoreLink"
            class  = "portfolio-2__item-readmore"
            target = "_blank"
        >смотреть</a>
    </figcaption>
</figure>
