.about-us {
    padding: 0 10px;
    width: 100%;
    background-color: #f6fbff;
}

.about-us__content-wrap {
    margin: 0 auto;
    padding-top: 93px;
    max-width: 940px;
    width: 100%;
    padding-bottom: 50px;
    @media screen and (--mobile) {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

.about-us__title {
    margin-bottom: 50px;
    max-width: 460px;
    background: linear-gradient(to bottom, rgba(255, 226, 88, 1) 0%, rgba(255, 226, 88, 1) 100%);
    background-position: 213px 91px;
    background-size: 220px 16px;
    background-repeat: no-repeat;
    font-weight: 300;
    font-size: 48px;
    line-height: 1.17;
    @media screen and (--mobile) {
        font-size: 30px;
        line-height: 1.27;
        background-size: 139px 10px;
        background-position: 131px 63px;
        max-width: 280px;
        margin-bottom: 30px;
    }
}

.about-us__subtitle {
    margin-bottom: 33px;
    color: #7b7b7b;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
    @media screen and (--mobile) {
        margin-bottom: 22px;
    }
}

.about-us__paragraph {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
    &:not(:last-child) {
        margin-bottom: 40px;
        @media screen and (--mobile) {
            margin-bottom: 30px;
        }
    }
    @media screen and (--mobile) {
        line-height: 1.67;
        font-size: 18px;
    }
}

.about-us__paragraph-accent {
    font-weight: 700;
}