<section class="cost">

    <div class="cost__content-wrap">

        <header class="cost__title">
            от
            <br>45 000 рублей
        </header>

        <p class="cost__subtitle">За эти деньги вы получаете полностью готовый landing page, заполненный контентом и исправно настроенный. Вам останется только начать привлекать целевой трафик для получения звонков/заявок.</p>

        <div class="cost__items-wrap">
            <figure class="cost__item cost__item--1">Маркетинговое исследование, анализ конкурентов</figure>
            <figure class="cost__item cost__item--2">Разработка ТЗ</figure>
            <figure class="cost__item cost__item--3">Прототипирование</figure>
            <figure class="cost__item cost__item--4">Дизайн (десктоп + мобильная версия)</figure>
            <figure class="cost__item cost__item--5">Верстка макетов</figure>
            <figure class="cost__item cost__item--6">Подключение к CMS (опционально)</figure>
        </div>

    </div>

</section>