.portfolio {
    margin-bottom: 61px;
    width: 100%;
}

.portfolio__content-wrap {
    margin: 0 auto 0 0;
    max-width: 940px;
    width: 100%;
}

.portfolio__items-wrap {
    width: 100%;
}

.portfolio__items-wrap--hidden {
    display: none;
}

.portfolio__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.portfolio__item__image-wrap {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 360px;
}

.portfolio__item-image {
    @nest .portfolio__item:hover & {
        opacity: .8;
        transform: scale(1.05);
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
    object-position: center;
    object-fit: cover;
}

.portfolio__item-caption {
    padding-left: 10px;
    width: 50%;
}

.portfolio__item-title {
    margin-bottom: 8px;
    color: #333333;
    font-weight: 700;
    font-size: 36px;
    font-family: futura-pt;
}

.portfolio__item-subtitle {
    margin-bottom: 84px;
    color: #333333;
    font-size: 18px;
}

.portfolio__item-conversion {
    color: #333333;
    font-size: 18px;
}

.portfolio__showmore {
    margin-top: 33px;
    padding: 81px 2rem 2rem;
    width: 100%;
    border: solid 1px #d9e8f5;
    background-image: url(../images/portfolio-spinner.svg);
    background-position: center 31px;
    background-repeat: no-repeat;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-weight: 600;
    font-size: 14px;
    font-family: futura-pt;
    &:hover {
        border-color: #ffe258;
    }
}