<section class="keys">
    <div class="keys__content-wrap">
        <header class="keys__title">
            ключевые
            <br>преимущества
        </header>
        <div class="keys__items-wrap">
            <figure class="keys__item">современные методологии</figure>
            <figure class="keys__item">высокие стандарты качества</figure>
            <figure class="keys__item">специалисты в штате</figure>
            <figure class="keys__item">работаем
                <br>по NDA</figure>
            <figure class="keys__item">более 5 лет опыта</figure>
        </div>
    </div>
</section>