{% extends "layouts/main.htm" %}

{% set appPage  = "home" %}

{% set appTitle  = 'Верстка PSD и Sketch макетов в короткие сроки с высоким качеством. Заказать верстку сайта.' %}
{% set appKeywords = 'верстка, верстка под ключ, psd2html' %}
{% set appDescription  = 'Выполняем верстку сайтов из PSD и Sketch макетов, короткие сроки, разумные цены.' %}

{# == #}

{% block grid %}

    <promo></promo>

    <advantages></advantages>

    <quality></quality>

    <experience></experience>

{% endblock %}