<header class="site-header" data-image="/assets/images/site-header-bgd.jpg">

    <div class="site-header__content-wrap">

        <div class="site-header__top">
            <a href="#" class="site-header__logo"></a>
            <address class="site-header__contacts">
                <a href="tel:+74959899857" class="site-header__phone">+7 (495) 989-98-57</a>
                <a href="mailto:hello@krown.cc" class="site-header__mail">hello@krown.cc</a>
            </address>
        </div>

        <div class="site-header__middle">

            <hgroup class="site-header__heading">
                <p class="site-header__title">Разработка landing page</p>
                <p class="site-header__subtitle">
                    Аналитический подход к конверсии
                    <br>с премиальным дизайном
                </p>
            </hgroup>

            <div class="site-header__buttons">
                <button href="#tasks" type="button" class="site-header__readmore">Подробнее об услуге</button>
                <button href="#portfolio" type="button" class="site-header__show-cases">смотреть кейсы</button>
            </div>

            <div class="site-header__items-wrap">
                <figure class="site-header__item site-header__item--1">
                    от 10 дней
                    <br>на полный цикл
                </figure>
                <figure class="site-header__item site-header__item--2">
                    от 45 000
                    <br>рублей
                </figure>
                <figure class="site-header__item site-header__item--3">
                    Предоставляем
                    <br>поддержку на всех
                    <br>этапах
                </figure>
                <figure class="site-header__item site-header__item--4">
                    Интегрируем
                    <br>с amo.CRM
                </figure>
            </div>

        </div>

    </div>
</header>