<section class="special">
    <div class="special__content-wrap">

        <article class="special__content">
            <header class="special__title">Специальное предложение для студий и агентств</header>
            <p class="special__subtitle">Мы открыты для сотрудничества, и предлагаем агентствам и студиям выгодные условия по аутсорсингу. Условия работы обсуждаются индивидуально, по всем вопросам обращайтесь:</p>
            <a href="mailto:" class="special__mail">outsource@krown.cc</a>
            <a href="tel:" class="special__phone">+7 (495) 989-98-57</a>
        </article>

        <aside class="special__sidebar">
            <p class="special__sidebar-title">почасовая тарификация</p>
            <p class="special__cost" data-from="от" data-to="за час">800 р.</p>
        </aside>

    </div>
</section>