.advantages {
    padding: 0 10px;
    width: 100%;
    background-color: #fff;
}

.advantages__content-wrap {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 940px;
    width: 100%;
    @media screen and (--mobile) {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

.advantages__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 45px;
    width: 100%;
    list-style: none;
    @media screen and (--mobile) {
        margin-bottom: 0;
    }
}

.advantages__nav-item {
    padding: 86px 10px 10px;
    width: calc((100% - 100px)/6);
    height: 128px;
    border-radius: 7px;
    background-color: #f7f8fa;
    background-position: center 30px;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 10px;
    cursor: pointer;
    transition-duration: var(--transitionDuration);
    @media screen and (--mobile) {
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
    &--1 {
        background-image: url(../images/advantages-1.svg);
        &:hover,
        &.active {
            background-image: url(../images/advantages-1a.svg);
            @media screen and (--mobile) {
                background-image: url(../images/advantages-1.svg);
            }
        }
    }
    &--2 {
        background-image: url(../images/advantages-2.svg);
        &:hover,
        &.active {
            background-image: url(../images/advantages-2a.svg);
        }
    }
    &--3 {
        background-image: url(../images/advantages-3.svg);
        &:hover,
        &.active {
            background-image: url(../images/advantages-3a.svg);
        }
    }
    &--4 {
        background-image: url(../images/advantages-4.svg);
        &:hover,
        &.active {
            background-image: url(../images/advantages-4a.svg);
        }
    }
    &--5 {
        background-image: url(../images/advantages-5.svg);
        &:hover,
        &.active {
            background-image: url(../images/advantages-5a.svg);
        }
    }
    &--6 {
        background-image: url(../images/advantages-6.svg);
        &:hover,
        &.active {
            background-image: url(../images/advantages-6a.svg);
        }
    }
    &:hover,
    &.active {
        background-color: #0068fc;
        color: #fff;
        @media screen and (--mobile) {
            background-color: #f7f8fa;
            color: #000;
            pointer-events: none;
        }
    }
}

.advantages__tabs-wrap {
    width: 100%;
    @media screen and (--mobile) {
        display: none;
    }
}

.advantages__tab {
    width: 100%;
}

.advantages__tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.advantages__tab-promo {
    padding-top: 18px;
    width: 380px;
    background-image: url(../images/advantages-7.svg);
    background-position: left top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.advantages__tab-promo-title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.33;
}

.advantages__tab-promo-text {
    font-weight: 300;
    font-size: 18px;
    font-family: proxima-nova;
    line-height: 1.33;
}

.advantages__tab-content {
    padding-top: 18px;
    width: calc(100% - 380px - 100px);
    & h2 {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
        line-height: 1.33;
    }
    & p {
        font-weight: 300;
        font-size: 14px;
        font-family: proxima-nova;
        line-height: 1.36;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}