<section class="advantages">
    <div class="advantages__content-wrap">

        <ul class="advantages__nav">
            <li class="advantages__nav-item advantages__nav-item--1">Быстрый запуск</li>
            <li class="advantages__nav-item advantages__nav-item--2">гарантия сроков</li>
            <li class="advantages__nav-item advantages__nav-item--3">оплата</li>
            <li class="advantages__nav-item advantages__nav-item--4">наш подход</li>
            <li class="advantages__nav-item advantages__nav-item--5">адаптивность</li>
            <li class="advantages__nav-item advantages__nav-item--6">исходники</li>
        </ul>

        <div class="advantages__tabs-wrap">

            <advantages-tab
                promo-title = "Быстрый запуск работ"
                promo-text  = "Мы привыкли уважать бизнес-интересы своих заказчиков, поэтому со своей стороны мы делаем всё, чтобы экономить ваше время"
                content   = "<h2>Какой порядок действий и что нужно для старта проекта?</h2>
                <p>Для старта проекта необходимо внести аванс. Все работы по подготовке макетов к вёрстке начинаются после поступления аванса на наш расчётный счет. Для того чтобы зарезервировать ресурсы под ваш проект, достаточно вашего устного согласия с нашим предложением по бюджету и срокам. </p>
                <h2>Как быстро я получу ответ менеджера?</h2>
                <p>На первоначальную обработку заказа и подготовку списка уточняющих вопросов нам требуется порядка 1 часа. В выходные и праздничные дни может потребоваться немного больше времени.</p>
                <h2>У меня уже есть техническое задание на вёрстку, как его вам передать?</h2>
                <p>Вы можете прикрепить техническое задание и любые другие вспомогательные файлы непосредственно при оформлении заказа. Перетащите их мышкой в окно браузера или воспользуйтесь обычным загрузчиком. Также вы можете обратить внимание нашего менеджера на все существенные детали, которые сочтете нужными, уже в процессе общения. Пожалуйста, не волнуйтесь, мы умеем задавать правильные вопросы.</p>"
            ></advantages-tab>

            <advantages-tab
                promo-title = "Быстрый запуск работ"
                promo-text  = "Мы привыкли уважать бизнес-интересы своих заказчиков, поэтому со своей стороны мы делаем всё, чтобы экономить ваше время"
                content   = "<h2>Какой порядок действий и что нужно для старта проекта?</h2>
                <p>Для старта проекта необходимо внести аванс. Все работы по подготовке макетов к вёрстке начинаются после поступления аванса на наш расчётный счет. Для того чтобы зарезервировать ресурсы под ваш проект, достаточно вашего устного согласия с нашим предложением по бюджету и срокам. </p>
                <h2>Как быстро я получу ответ менеджера?</h2>
                <p>На первоначальную обработку заказа и подготовку списка уточняющих вопросов нам требуется порядка 1 часа. В выходные и праздничные дни может потребоваться немного больше времени.</p>
                <h2>У меня уже есть техническое задание на вёрстку, как его вам передать?</h2>
                <p>Вы можете прикрепить техническое задание и любые другие вспомогательные файлы непосредственно при оформлении заказа. Перетащите их мышкой в окно браузера или воспользуйтесь обычным загрузчиком. Также вы можете обратить внимание нашего менеджера на все существенные детали, которые сочтете нужными, уже в процессе общения. Пожалуйста, не волнуйтесь, мы умеем задавать правильные вопросы.</p>"
            ></advantages-tab>

            <advantages-tab
                promo-title = "Быстрый запуск работ"
                promo-text  = "Мы привыкли уважать бизнес-интересы своих заказчиков, поэтому со своей стороны мы делаем всё, чтобы экономить ваше время"
                content   = "<h2>Какой порядок действий и что нужно для старта проекта?</h2>
                <p>Для старта проекта необходимо внести аванс. Все работы по подготовке макетов к вёрстке начинаются после поступления аванса на наш расчётный счет. Для того чтобы зарезервировать ресурсы под ваш проект, достаточно вашего устного согласия с нашим предложением по бюджету и срокам. </p>
                <h2>Как быстро я получу ответ менеджера?</h2>
                <p>На первоначальную обработку заказа и подготовку списка уточняющих вопросов нам требуется порядка 1 часа. В выходные и праздничные дни может потребоваться немного больше времени.</p>
                <h2>У меня уже есть техническое задание на вёрстку, как его вам передать?</h2>
                <p>Вы можете прикрепить техническое задание и любые другие вспомогательные файлы непосредственно при оформлении заказа. Перетащите их мышкой в окно браузера или воспользуйтесь обычным загрузчиком. Также вы можете обратить внимание нашего менеджера на все существенные детали, которые сочтете нужными, уже в процессе общения. Пожалуйста, не волнуйтесь, мы умеем задавать правильные вопросы.</p>"
            ></advantages-tab>

            <advantages-tab
                promo-title = "Быстрый запуск работ"
                promo-text  = "Мы привыкли уважать бизнес-интересы своих заказчиков, поэтому со своей стороны мы делаем всё, чтобы экономить ваше время"
                content   = "<h2>Какой порядок действий и что нужно для старта проекта?</h2>
                <p>Для старта проекта необходимо внести аванс. Все работы по подготовке макетов к вёрстке начинаются после поступления аванса на наш расчётный счет. Для того чтобы зарезервировать ресурсы под ваш проект, достаточно вашего устного согласия с нашим предложением по бюджету и срокам. </p>
                <h2>Как быстро я получу ответ менеджера?</h2>
                <p>На первоначальную обработку заказа и подготовку списка уточняющих вопросов нам требуется порядка 1 часа. В выходные и праздничные дни может потребоваться немного больше времени.</p>
                <h2>У меня уже есть техническое задание на вёрстку, как его вам передать?</h2>
                <p>Вы можете прикрепить техническое задание и любые другие вспомогательные файлы непосредственно при оформлении заказа. Перетащите их мышкой в окно браузера или воспользуйтесь обычным загрузчиком. Также вы можете обратить внимание нашего менеджера на все существенные детали, которые сочтете нужными, уже в процессе общения. Пожалуйста, не волнуйтесь, мы умеем задавать правильные вопросы.</p>"
            ></advantages-tab>

            <advantages-tab
                promo-title = "Быстрый запуск работ"
                promo-text  = "Мы привыкли уважать бизнес-интересы своих заказчиков, поэтому со своей стороны мы делаем всё, чтобы экономить ваше время"
                content   = "<h2>Какой порядок действий и что нужно для старта проекта?</h2>
                <p>Для старта проекта необходимо внести аванс. Все работы по подготовке макетов к вёрстке начинаются после поступления аванса на наш расчётный счет. Для того чтобы зарезервировать ресурсы под ваш проект, достаточно вашего устного согласия с нашим предложением по бюджету и срокам. </p>
                <h2>Как быстро я получу ответ менеджера?</h2>
                <p>На первоначальную обработку заказа и подготовку списка уточняющих вопросов нам требуется порядка 1 часа. В выходные и праздничные дни может потребоваться немного больше времени.</p>
                <h2>У меня уже есть техническое задание на вёрстку, как его вам передать?</h2>
                <p>Вы можете прикрепить техническое задание и любые другие вспомогательные файлы непосредственно при оформлении заказа. Перетащите их мышкой в окно браузера или воспользуйтесь обычным загрузчиком. Также вы можете обратить внимание нашего менеджера на все существенные детали, которые сочтете нужными, уже в процессе общения. Пожалуйста, не волнуйтесь, мы умеем задавать правильные вопросы.</p>"
            ></advantages-tab>

            <advantages-tab
                promo-title = "Быстрый запуск работ"
                promo-text  = "Мы привыкли уважать бизнес-интересы своих заказчиков, поэтому со своей стороны мы делаем всё, чтобы экономить ваше время"
                content   = "<h2>Какой порядок действий и что нужно для старта проекта?</h2>
                <p>Для старта проекта необходимо внести аванс. Все работы по подготовке макетов к вёрстке начинаются после поступления аванса на наш расчётный счет. Для того чтобы зарезервировать ресурсы под ваш проект, достаточно вашего устного согласия с нашим предложением по бюджету и срокам. </p>
                <h2>Как быстро я получу ответ менеджера?</h2>
                <p>На первоначальную обработку заказа и подготовку списка уточняющих вопросов нам требуется порядка 1 часа. В выходные и праздничные дни может потребоваться немного больше времени.</p>
                <h2>У меня уже есть техническое задание на вёрстку, как его вам передать?</h2>
                <p>Вы можете прикрепить техническое задание и любые другие вспомогательные файлы непосредственно при оформлении заказа. Перетащите их мышкой в окно браузера или воспользуйтесь обычным загрузчиком. Также вы можете обратить внимание нашего менеджера на все существенные детали, которые сочтете нужными, уже в процессе общения. Пожалуйста, не волнуйтесь, мы умеем задавать правильные вопросы.</p>"
            ></advantages-tab>

        </div>

    </div>
</section>
