.navigation {
    width: 100%;
    padding: 0 10px;
    background-color: #f6fbff;
}

.navigation__content-wrap {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 39px;
    max-width: 940px;
    width: 100%;
    display: flex;
    align-items: center;
}

.navigation__logo {
    width: 220px;
    height: 31px;
    background-image: url(../images/navigation-1.png);
    background-position: left center;
    background-size: contain;
    display: block;
}

.navigation__menu {
    margin-bottom: 10px;
    margin-left: 85px;
}

.navigation__menu-item {
    margin: 0 15px;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 12px;
    &:hover {
        color: #0068fc;
    }
}