.tasks {
    width: calc(100% + 40px*2);
    margin-left: -40px;
    padding: 40px 40px 49px;
    margin-bottom: 49px;
    background-color: #fff;
}

.tasks__content-wrap {
    margin: 0 auto 0 0;
    max-width: 940px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tasks__promo {
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/tasks-bgd.jpg);
    padding: 91px 10px 30px 30px;
    min-height: 600px;
}

.tasks__promo-title {
    font-family: futura-pt;
    font-size: 36px;
    color: #000000;
    margin-bottom: 43px;
    font-weight: 600;
}

.tasks__promo-text {
    width: 100%;
    margin-bottom: 39px;
    font-weight: 300;
    &>p {
        font-size: 16px;
        line-height: 1.38;
    }
}

.tasks__promo-phone {
    font-family: futura-pt;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: #000000;
    &:hover {
        color: #ffe258;
    }
}

.tasks__list {
    width: 50%;
    padding: 30px 0 30px 90px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tasks__list-item {
    padding-left: 80px;
    background-position: left top;
    background-repeat: no-repeat;
    &:not(:last-child) {
        margin-bottom: 40px;
    }
    &--1 {
        background-image: url(../images/tasks-1.png);
    }
    &--2 {
        background-image: url(../images/tasks-2.png);
    }
    &--3 {
        background-image: url(../images/tasks-3.png);
    }
}

.tasks__list-item-title {
    font-family: futura-pt;
    font-size: 24px;
    margin-bottom: 21px;
    color: #000000;
    font-weight: 600;
}

.tasks__list-item-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    color: #000000;
    padding-right: 50px;
}