<section class="tasks" id="tasks">
    <div class="tasks__content-wrap">

        <figure class="tasks__promo">
            <p class="tasks__promo-title">Для каких задач подойдет landing page?</p>
            <div class="tasks__promo-text typography">
                <p>Посадочная страница, как инструмент продаж, может быть крайне эффективна в ряде сценариев.</p>
                <p>Если Вы сомневаетесь в целесообразности разработки landing page конкретно для Вашего проекта - звоните, мы бесплатно проконсультируем и предложим альтернативные решения при необходимости.</p>
            </div>
            <a href="tel:+74959899857" class="tasks__promo-phone">+7 (495) 989-98-57</a>
        </figure>

        <ul class="tasks__list">
            <li class="tasks__list-item tasks__list-item--1">
                <p class="tasks__list-item-title">Проверить спрос </p>
                <p class="tasks__list-item-text">Landing page - отличный инструмент для теста спроса перед открытием нового направления в бизнесе</p>
            </li>
            <li class="tasks__list-item tasks__list-item--2">
                <p class="tasks__list-item-title">Продать товар или услугу</p>
                <p class="tasks__list-item-text">Посадочная страница
                    <br>с понятным целевым действием более понятна пользователю, следовательно и конверсия в продажу выше</p>
            </li>
            <li class="tasks__list-item tasks__list-item--3">
                <p class="tasks__list-item-title">Провести&nbsp;a/b тестирование</p>
                <p class="tasks__list-item-text">С точки зрения тестирования - landing page это отработка гипотез с минимальными затратами на разработку в рамках уже функционирующих проектов</p>
            </li>
        </ul>

    </div>
</section>