<footer class="site-footer">

    <div class="site-footer__row">
        <header class="site-footer__header">
            <div class="foter__content-wrap">

                <form class="site-footer__form" data-form action="">

                    <p class="site-footer__title">Давайте сотрудничать</p>
                    <p class="site-footer__subtitle">Оставьте Ваш номер телефона и мы перезвоним:</p>

                    <figure class="site-footer__form-success">
                        <p class="site-footer__title site-footer__title--success">Спасибо за ваше обращение</p>
                        <p class="site-footer__subtitle site-footer__subtitle--success">Мы перезвоним вам в самое ближайшее время!</p>
                    </figure>

                    <input
                        type        = "text"
                        class       = "site-footer__form-input"
                        placeholder = "+7 (495) 000-00-00"
                        required
                        data-form-phone-field
                    >
                    <p data-form-status class="site-footer__form-status">Статус отправки</p>
                    <button data-form-btn class="site-footer__form-button">Перезвоните мне</button>
                </form>

            </div>
        </header>
    </div>

    <div class="site-footer__row">
        <address class="site-footer__contacts">
            <div class="foter__content-wrap">
                <div class="site-footer__contacts-items">
                    <a href="mailto:hello.krown.cc" class="site-footer__email">HELLO@KROWN.CC</a>
                    <span class="site-footer__city">Севастополь</span>
                    <a href="tel:+74959899857" class="site-footer__phone">+7 (495) 989-98-57</a>
                </div>
            </div>
        </address>
    </div>

</footer>