<header class="promo">
    <div class="promo__content-wrap">

        <div class="promo__header">
            <a href="/" class="promo__logo"></a>
            <nav class="promo__menu">
                <a href="#" class="promo__menu-item">О нас</a>
                <a href="#" class="promo__menu-item">аутсорсинг</a>
                <a href="#" class="promo__menu-item">портфолио</a>
                <a href="#" class="promo__menu-item">контакты</a>
            </nav>
        </div>

        <div class="promo__container">

            <div class="promo__content">
                <h1 class="promo__title">Качественная и&nbsp;быстрая верстка ваших дизайн-макетов</h1>
                <p class="promo__subtitle">Превратим ваши psd/sketch макеты в структурированный набор html/css файлов. Сохраним pixel-perfect, прикрутим анимацию.</p>

                <div class="promo__items-wrap">
                    <figure class="promo__item">
                        <div class="promo__item-icon promo__item-icon--1"></div>
                        <figcaption class="promo__item-caption">sketch</figcaption>
                    </figure>
                    <figure class="promo__item">
                        <div class="promo__item-icon promo__item-icon--2"></div>
                        <figcaption class="promo__item-caption">photoshop</figcaption>
                    </figure>
                </div>

                <button type="button" class="promo__order">заказать верстку</button>
                <a href="#quality" class="promo__readmore">смотреть примеры работ</a>
            </div>

            <div class="promo__image-wrap">
                <img
                    src   = "/assets/images/promo-2.jpg"
                    alt   = ""
                    class = "promo__image promo__image--1 wow promoImage"
                >
                <img
                    src   = "/assets/images/promo-3.jpg"
                    alt   = ""
                    class = "promo__image promo__image--2 wow promoImage"
                >
            </div>

        </div>

    </div>
</header>